In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 分析大專院校校別學生數

In [2]:
df =pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_student.csv')

In [5]:
df.head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,96,85,82,78,93,59,...,71,52,58,46,74,40,-,-,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,624,742,632,695,348,431,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,899,1287,890,1332,878,1325,...,-,-,-,-,-,-,326,463,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,303,248,253,259,201,210,...,53,47,-,-,-,-,-,-,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,225,99,201,71,189,73,...,158,50,112,43,168,58,-,-,18 新竹市,1 一般

## 刪除某數據

In [7]:
df=df.drop("縣市名稱",axis=1)

In [8]:
df.head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,四年級女生,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,體系別
0,1,國立政治大學,D 日,D 博士,96,85,82,78,93,59,...,54,71,52,58,46,74,40,-,-,1 一般
1,1,國立政治大學,D 日,M 碩士,624,742,632,695,348,431,...,276,-,-,-,-,-,-,-,-,1 一般
2,1,國立政治大學,D 日,B 學士,899,1287,890,1332,878,1325,...,1240,-,-,-,-,-,-,326,463,1 一般
3,1,國立政治大學,N 職,M 碩士,303,248,253,259,201,210,...,90,53,47,-,-,-,-,-,-,1 一般
4,2,國立清華大學,D 日,D 博士,225,99,201,71,189,73,...,49,158,50,112,43,168,58,-,-,1 一般